<div class="jumbotron jumbotron-fluid" style="background-color:white; margin-bottom:0; min-height:auto;">
	<div class="d-flex">
		<div class="p-2 flex-fill">
			<div class="footer_imgs_left">
				<table class="table-responsive">
					<tr>
						<td><a href="http://www.ise.ualg.pt"><img src="../images/sponse/ise.svg" class="ualg_img img-fluid text-left"></a></td>
					</tr>
				</table>
			</div>
		</div>
		<div class="p-2 flex-fill">
			<div class="footer_imgs">
				<table class="table-responsive">
					<tr>
						<td><a href="http://www.aprh.pt/pt/"><img src="../images/sponse/ap.svg" width="100%" height="100%" class="img-fluid text-right"></a></td>
						<td><a href="https://ami.org.pt/"><img src="../images/sponse/am.svg" width="100%" height="100%" class="img-fluid text-right"></a></td>
						<td><a href="https://www.instituto-camoes.pt/"><img src="../images/sponse/lc.svg" width="100%" height="100%" class="img-fluid text-right"></a></td>				
						<td><a href="https://europa.eu/european-union/index_pt"><img src="../images/sponse/ue.svg" width="100%" height="100%" class="img-fluid text-right"></a></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<div class="container text-center">
		<div class="copy_text" style="margin-top:2%;">Copyright &copy; 2020 APRH - Associação Portuguesa dos Recursos Hídricos</div>
		<button class="plus_button" data-toggle="modal" data-target="#tec"><div class="copy_text">Ficha Técnica</div></button>
		
		<div id="tec" class="modal fade" role="dialog">
			<div class="modal-sm modal-dialog">
				<!-- Modal content-->
				<div class="modal-content" style="background-color:white;">
					<div class="modal-body" style="background-color:white;">
						<div class="d-flex flex-row-reverse">
							<button type="button" class="close" data-dismiss="modal" style="color:grey;">&times;</button>
						</div>
						<div class="authors">
							Coordenação: Leandro Muller (Mestrado em Ciclo Urbano da Água - UAlg, ISE) sob orientação da Prof.ª Doutora. Manuela Moreira da Silva 
							(APRH. UAlg, ISE. CIMA)
							<br>
							<br>
							Design: Ana Almeida e Dília Nunes (Mestrado em Design de Comunicação para o Turismo e Cultura – UAlg, ESEC) sob orientação da Prof.ª Doutora. Joana Lessa (UAlg, ESEC)
							<br>
							<br>
							Implementação: André Pedro (Mestrado em Engenharia Elétrica e Eletrónica - UAlg, ISE) sob orientação do Prof.º Doutor Roberto Lam (UAlg, ISE. LARSyS)
						</div>
					</div>
					<br>
				</div>

			</div>
		</div>
		
	</div>
</div>


</body>
</html>