* {
	box-sizing: border-box;	
}


#regForm {
	margin: 50px auto;
	padding-top:6%;
	padding-bottom:20px;
	width: 100%;
	min-width: 200px;
}

@media only screen and (max-width: 1024px){
	#regForm{padding-top:10%;}
}

@media only screen and (max-width: 500px) {
	#regForm{padding-top:10%;}
}

/*.button_pos{
	margin-top:8%;
}*/

.button_pos{
	float:right; 
	margin-top:3%; 
	margin-right:9%;
}

@media only screen and (max-width: 500px) {
	.button_pos{margin-right:12.5vh; margin-bottom:5%;}

}

@media only screen and (max-width: 400px) {
	.button_pos{margin-right:8vh; margin-bottom:5%;}

}

h1 {
	text-align: center;
	color:white;
	text-transform:capitalize;
}

input {
	padding: 10px;
	width: 100%;
	font-size: 8px;
	border: 1px solid #aaaaaa;
}

input:focus{
	outline:none;
}


input[type=number]:hover::-webkit-inner-spin-button{
	width:15px;
	height:30px;
}

input[type=number]{
	-moz-appearance: textfield;
}



/* Hide all steps by default:*/ 
.tab {
		display: none;
}

.b_form{
	background-color: #afdded;
	color:#29728c;
	border-radius:8px;
	border-color:#29728c;
	padding: 10px 20px;
	font-size: 17px;
	font-weight:bold;
	cursor: pointer;
	text-align:center;
	border-width:3.5px;
	
}

.b_form:hover {
	opacity: 0.8;
}

@media only screen and (max-width: 500px) {
	.b_form{font-size: 15px; padding: 8px 16px;}
}

@media only screen and (max-width: 400px) {
	.b_form{font-size: 15px; padding: 6px 12px;}
}


#prevBtn {
	background-color: #afdded;
}

/* Make circles that indicate the steps of the form:*/ 
.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #29728c;
	border: none;  
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
}

.step.active {
	opacity: 1;
}

/* Mark the steps that are finished and valid:*/ 
.step.finish {
	background-color: #29728c;;
}

.hide{
	display:none;
}
