.authors{
	color : #1A93B4;
	font-weight:bold;
	font-size:14px;
	text-align:left;
}

@media only screen and (max-width:500px){
	.authors{font-size:12px;}
}

#stend_page{
	background-image:url('../images/bg01.png'); 
}

@media only screen and (max-width: 1024px) {
	#stend_page{ min-height:75vh; }
}

.plus_button{
	border:none;
	background:transparent;
}
	
.modal-header {
    border-bottom: 0 none;
}

@media only screen and (max-width: 500px) {
	*{font-size:14px;}
	html,body{height:100%;}
}

.logo_text{
	font-family : Roboto; 
	font-weight : bold; 
	font-size : 18px; 
	color : #1A93B4;
	margin-left:5%;
}

@media only screen and (max-width: 500px) {
	.logo_text{font-family : Roboto; font-weight : bold; font-size : 15px; color : #1A93B4; margin-left:5%;}
}

.index_text_area{
	margin-top:30%; 
	padding-left:10%; 
	padding-right:10%; 
	color:#29728c; 
	font-family:Roboto; 
	font-size:18px; 
	font-weight:bold;
}

@media only screen and (max-width: 700px) {
	.index_text_area{ margin-top:30%; padding-left:10%; padding-right:10%; color:#29728c; font-family:Roboto; font-size:15px; font-weight:bold; }
}


.results_text_area{
	margin-left:10%; 
	margin-right:10%; 
	margin-top:20%; 
	margin-bottom:2%; 
	font-family:Roboto; 
	font-size:18px; 
	color:#006F89; 
	font-weight:bold;
}

.results_text{
	font-size:20px; 
	text-align:center; 
	margin-top:2%; 
	margin-bottom:2%;
}

@media only screen and (max-width: 700px) {
	.results_text_area{ margin-left:10%; margin-right:10%; margin-top:20%; margin-bottom:4%; font-family:Roboto; font-size:15px; color:#29728c; font-weight:bold;}
	.results_text{font-size:20px; text-align:center; margin-top:2%; margin-bottom:2%; }
}

@media only screen and (max-width: 500px) {
	.results_text_area{ margin-left:10%; margin-right:10%; margin-top:3%; margin-bottom:2%; font-family:Roboto; font-size:16px; color:white; font-weight:bold;}
	.results_text{font-size:20px; text-align:center; margin-top:2%; margin-bottom:2%; }
}


.cat {
	/*background-color: #2C2E83;*/
	/*margin: 100px auto;*/
	font-family : Roboto;
	font-weight : bold;
	font-size : 20px;
	margin-top:4%;
	margin-left:15%;
	color:#006F89;
	/*padding: 40px;*/
	/*width: 100%;*/
	/*min-width: 300px;*/
}


.img_responsive{
	height:auto;
}

@media only screen and (max-width: 500px){
	.index_img{ margin-left:-16%; }
}

@media only screen and (max-width: 1000px){
	.index_img{ margin-left:-16%; }
}

@media only screen and (max-width: 1025px){
	.index_img{ margin-left: -15%;}
}


@media only screen and (max-width: 500px) {
	video{min-height:100%; min-width:100%;}
}
	
.copy_text{
	text-align:center; 
	font-size:13px;
	font-family:Roboto; 
	font-weight:bold;
	color : #1A93B4;
}

@media only screen and (max-width: 500px) {
	.copy_text{text-align:center; font-size:10px; font-family:Roboto; font-weight:bold; color : #1A93B4;}
}

.footer_imgs{
	margin-left:34%;
	padding-right:2%;
	height:auto;
}

.footer_imgs_left{
	margin-right:34%;
	padding-left:2%;
	height:auto;
}

.ualg_img{
	width:80%;
	height:100%;
}

@media only screen and (max-width: 1024px) {
	.ualg_img{width:100%; height:100%;}
}


@media only screen and (max-width: 500px) {
	.footer_imgs{margin-left:10%; width:90%; height:70%;}
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #1A93B4;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 1.5rem;
  font-weight:700;
  line-height:1;
  color:white;
  opacity:0.5;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
